name: Demo Deployment environment

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        options:
          - test
          - staging
          - production
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: echo Building the App...
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: echo Testing the App...
  deployment:
    runs-on: ubuntu-latest
    needs: [build, test]
    environment: 
      name: ${{ inputs.environment }}
      url: ${{ vars.APP_URL }}
    steps:
      - name: Deploying feature
        run: echo Feature is being deployed
        if: ${{ vars.FEATURE_FLAG == 'true' }}
      - name: show message
        run: echo Feature is not being deployed
        if: ${{ vars.FEATURE_FLAG == 'false' }}
      - name: show DB PASSWORD
        run: echo ${{ secrets.DB_PASSWORD }}
